<?xml version="1.0" encoding="utf-8"?>	
<config>
	<fieldset name="TVM_PARAMS">
		<field name="tvm_trainer_group"  type="usergroup" default="" label="COM_TVM_GROUP_TRAINER" description="COM_TVM_GROUP_TRAINER_DESC" />
		<field name="tvm_frontpage_color_state_1" type="color" default="#99FF99" label="COM_TVM_FP_COLOR_STATE_1" description="COM_TVM_FP_COLOR_STATE_1_DESC" />
		<field name="tvm_frontpage_color_state_2" type="color" default="#FFFF80" label="COM_TVM_FP_COLOR_STATE_2" description="COM_TVM_FP_COLOR_STATE_2_DESC" />
		<field name="tvm_frontpage_color_state_3" type="color" default="#FF6666" label="COM_TVM_FP_COLOR_STATE_3" description="COM_TVM_FP_COLOR_STATE_3_DESC" />
		<field 
			name="tvm_message_user_refusal"
			type="textarea"
			translate_default="true"
			default="COM_TVM_USER_REFUSAL_DEFAULT_MESSAGE"
			label="COM_TVM_USER_REFUSAL_LABEL"
			rows="10" 
			cols="30"
			description="COM_TVM_USER_REFUSAL_DESC" />
		
	</fieldset>
</config>